<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{if and (not .IsHome) (.Title)}}{{.Title}} - {{ end }}{{ .Site.Title }}</title>
	
	{{if .Params.tags}}
	<meta content="{{ delimit (union .Params.tags .Params.categories) ", " }}" name="keywords">
	{{else}}
	<meta content="{{ .Site.Title }}" name="keywords">
	{{end}}
	<meta content="{{ or .Description .Summary .Site.Title }}" name="description">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<meta property=og:type content=website>
	<meta property=og:title content="{{ or .Title .Site.Title }}">
	<meta property=og:description content="{{ or .Description .Summary .Site.Title }}">
	<meta property=og:site_name content="{{ .Site.Title }}">
	<meta name=twitter:card content=summary_large_image>

	{{ if .Site.Params.twitter }}
	<meta name=twitter:site content="@{{ .Site.Params.twitter }}">
	<meta name=twitter:creator content="@{{ .Site.Params.twitter }}">
	{{ end }}
	
	
	
	{{ if .Site.Params.favicon }}
	<link rel="icon" href="{{ .Site.Params.favicon | relURL }}">
	{{ end }}

	{{ with .OutputFormats.Get "RSS" }}
	<link href="{{ .RelPermalink }}" rel="alternate" type="{{ .MediaType.Type }}" title="{{ $.Site.Title }}" />
	<link href="{{ .RelPermalink }}" rel="feed" type="{{ .MediaType.Type }}" title="{{ $.Site.Title }}" />
	{{ end }}

	{{ template "_internal/google_analytics.html" . }}

	{{ if or .Page.Params.math .Site.Params.math }}
	<!-- adds MathJax support -->
	<script type="text/x-mathjax-config">
		MathJax.Hub.Config({
			extensions: ["tex2jax.js"],
			jax: ["input/TeX", "output/HTML-CSS"],
			tex2jax: {
				inlineMath: [ ['$','$'], ["\\(","\\)"] ],
				displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
				processEscapes: true
			},
			"HTML-CSS": { availableFonts: ["TeX"] }
		});
	</script>
	<script src="https://cdn.jsdelivr.net/npm/mathjax@3.0.5/es5/tex-mml-chtml.js" integrity="sha256-HGLuEfFcsUJGhvB8cQ8nr0gai9EucOOaIxFw7qxmd+w=" crossorigin="anonymous"></script>
	{{ end }}

	<link rel="stylesheet" href="{{ "/layui/css/layui.css" | relURL }}">
	<link rel="stylesheet" href="{{ "/self/css/default.css" | relURL }}">
	<script src=" {{ "/layui/layui.js" | relURL }}"></script>

	<link rel="stylesheet" async href="{{ "/self/css/markdown.min.css" | relURL }}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous">
</head>
